<%- include('templates/header'); %>

<div class="wrapper">

    <h2><strong>Todos los libros<span>( 4 )</span></strong></h2>

    <div class="cards">

        <figure class="card">
            <img src="https://i.pinimg.com/originals/10/7e/dc/107edc3ef3d815cbc68f248bdcb430a5.jpg" />
            <figcaption>title</figcaption>
        </figure>

    </div>

    <h2><strong>Novedad</strong></h2>

    <div class="news">

        <figure class="article">
            <img src="https://i.pinimg.com/originals/10/7e/dc/107edc3ef3d815cbc68f248bdcb430a5.jpg" />
            <figcaption>
                <h3>New Item</h3>
                <p>
                    Eiusmod Lorem elit labore laborum do aliquip culpa eu anim ea occaecat. Dolor pariatur deserunt nisi
                    labore non mollit. Irure officia ex aliquip sint eiusmod occaecat.
                </p>
            </figcaption>
        </figure>

    </div>
</div>

<%- include('templates/footer'); %>